
.editor {
    width: 100%;
}

div.editor div {
    float: left;
    overflow: hidden;
    margin: 0px;
    padding: 0px 16px;
    border-width: 1px;
    border-color: lightgray;
    background-color: lightgray;
    color: dimgray;
    font-family: "Courier New", Consolas, monospace;;
    font-size: medium;
    text-align: right;
}

div.editor textarea {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
    color: black;
    font-family: "Courier New", Consolas, monospace;;
    font-size: medium;
}
