

.editor {
    width: 100%;
    font-family: "Courier New", Courier, Monaco, monospace;
    font-size: medium;
}

div.editor div.lineno {
    float: left;
    overflow: hidden;
    margin: 0px;
    border-width: 1px;
    border-color: darkgray;
    background-color: darkgray;
    color: dimgray;
    text-align: right;
}

div.editor div.lineno div.label {
    width: 100%;
    padding: 0px 16px;
}

div.editor div.lineno div.selected {
    background-color: yellow;
    color: black;
}

div.editor div.lineno div.error {
    background-color: red;
    color: white;
}

div.editor textarea {
    margin: 0px;
    padding-left: 4px;
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
    color: black;
}


